#font{
    font-family: "Carlito", sans-serif;
    font-weight: 400;
    font-style: auto;

    font-size: calc(1em+1%);
}

.marrone{
    background-color: rgb(120, 107, 61);
}

.giallo{
    background-color:rgb(255, 230, 140);
}

.bianco{
    background-color: rgb(255, 252, 242);
}
.testo{
    color: rgb(216, 212, 208);
}

#flex_footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    text-align: center;

    background-color: rgb(255, 252, 242);
}

.vuoto{
    background-color: rgb(255, 255, 255);
    height: 50px;
}

#carica_pg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.personaggio_ricevuto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#contenuto_spotify {
    display: flex;
    flex-wrap: wrap;
  }
  
  #contenuto_spotify .album {
    margin: 10px;
    border: 1px solid slategray;
    border-radius: 3px;
    background-color: rgb(255, 252, 242);

    padding: 5px;
    max-width: 150px;
    display: flex;
    flex-direction: column;
  }
  
  #contenuto_spotify img {
    max-width: 100%;
  }

  #contenuto_spotify .artista {
    margin: 10px;
    border: 1px solid cornsilk;
    border-radius: 3px;
    background-color: rgb(255, 252, 242);

    padding: 5px;
    max-width: 150px;
    display: flex;
    flex-direction: column;
  }

  #contenuto_spotify .canzone {
    margin: 10px;
    border: 1px solid peru;
    border-radius: 3px;
    background-color: rgb(255, 252, 242);

    padding: 5px;
    max-width: 150px;
    display: flex;
    flex-direction: column;
  }